body{
	background-size: 100%; 
}
* {
	box-sizing: border-box;
}
#mainHeader {
    text-align: center;
}

img { 
    height: 150px;
    width: 150px;
}
.btn {
    /* adding spacing between each button*/
    margin: 3px;
    background-color: #fff;
    border-color: #999999;
    color: #999999;
    font-weight: 200;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.btn:btnmain {
    font-weight: 500;
}

.btn:btnkeyword {
    border-radius: 43%;
}

.btn:hover {
    background-color: rgba(199, 196, 196, 0.6); 
    color: black;
    border-color: white;
}

#hp-action-input,#rp-action-input {
    width:100%;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.19), 0 0px 20px 0 rgba(0,0,0,0.19);
}


.gifDiv, .imageDiv{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
}
.container {
    background-color: #fff;
    color:#9999; 
    width:100%;
}


.hplogo, .rplogo {
    width: 100%;
    padding-top: 5px;

}

.jumbotron {
    width:100%;
    background-color: #fdfffe;
    background-image: linear-gradient(120deg, #fefffe,#e4e3e3,#fefffe);
    text-align: center; 
}

#footer {
	clear: both;
	margin-top: 80px;
	position: center;
	bottom: 0;
	left: 0;
    text-align: center;
    
}




/* Media Queries  */
/* xs < 768 */ 
@media screen and (max-width: 767px) { 
    body,.btn,#myTab,#copyright { font-size: 0.8em; }
  
    } 
  
  /* sm */ 
  @media screen and (min-width: 768px) { 
    body,.btn,#myTab,#copyright { font-size: 0.9em; } 
  
  } 
  
  /* md */ 
  @media screen and (min-width: 992px) { 
    body,.btn,#myTab,#copyright { font-size: 1em; } 
  } 
  
  /* lg */ 
  @media screen and (min-width: 1200px) { 
    body,.btn,#myTab,#copyright { font-size: 1em; } 
  }
  