body{
	background-size: 100%; 
}
* {
	box-sizing: border-box;
}
#mainHeader {
    text-align: center;
}

img { 
    height: 150px;
    width: 150px;
}
.btn {
    /* adding spacing between each button*/
    margin: 3px;
    background-color: #fff;
    border-color: #999999;
    color: #999999;
    font-weight: 200;
    text-align: center;
}

.btn:btnmain {
    font-weight: 500;
}

.btn:btnkeyword {
    border-radius: 43%;
}


#hp-action-input,#rp-action-input {
    width:100%;

}


.gifDiv, .imageDiv{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
}
.container {
    background-color: #fff;
    color:#9999; 
    width:100%;
}


.hplogo, .rplogo {
    width: 100%;
    padding-top: 5px;

}

/* Result page header */
.jumbotron {
    width:100%;
    background-color: #fff;
    text-align: center; 
    padding-bottom: 10px;
}

.smallFont{
    font-size: 0.8em;
}

#footer {
	clear: both;
	margin-top: 80px;
	position: center;
	bottom: 0;
	left: 0;
    text-align: center;
    
}




/* Media Queries  */
/* xs < 768 */ 
@media screen and (max-width: 767px) { 
    body,.btn,#myTab,#copyright { font-size: 0.8em; }
    #ButtonsView {
        /*border-top: 1px solid gray;*/
        white-space: nowrap;  /* For mobile device, use touch scrolling to view the button panel*/    
        overflow-x: auto;
        overflow-y: hidden;
        white-space: normal; /* normal (default) - warp the button   nowrap - overflow and scrolling*/ 
        display: flex;
        -webkit-overflow-scrolling: touch; /* if overflow it use touch scrolling for mobile device */
        /* hide horizontal scrollbar */
        -ms-overflow-style: none; 
    }
    
    #ButtonsView::-webkit-scrollbar { 
        width: 0; 
    }

}

  /* sm */ 
  @media screen and (min-width: 768px) { 
    body,.btn,#myTab,#copyright { font-size: 0.9em; } 
  } 
  
  /* md */ 
  @media screen and (min-width: 992px) { 
    body,.btn,#myTab,#copyright { font-size: 1em; } 

  } 
  
  /* lg */ 
  @media screen and (min-width: 1200px) { 
    body,.btn,#myTab,#copyright { font-size: 1em; }

  }
  